<!doctype html>
<html lang="en">
<head>
  <% include partials/Head.ejs %>
</head>
<body>

  <div id="hero-image">
    <% include partials/header.ejs %>

    <h1 id="hero-title"> Star Wars Movie</h1>
  </div>

  <div id="posters-wrapper" class="content-padding clearfix">

    <% for (var i = 0; i < movies.length; i++) { %>
      <div class="poster">

        <a href="/star_wars_episode/<%= movies[i].episode_number %>">
          <img src="/images/<%= movies[i].poster %>" class="img-responsive" />

          <div class="poster-info-overlay">
            <h3><%= movies[i].title %></h3>
            <h4>View More <i class="fa fa-arrow-right"></i></h4>
          </div>
        </a>

      </div>
      <% } %>

    </div>

    <% include partials/footer.ejs %>

    <!-- Scripts Patrials -->
    <% include partials/Scripts.ejs %>
  </body>
  </html>
