<!doctype html>
<html lang="en">
<head>
  <% include partials/Head.ejs %>
</head>
<body>

  <div id="hero-image-notFound">
    <% include partials/header.ejs %>

    <h1 id="hero-title"> <%= title %></h1>
  </div>


  <% include partials/footer.ejs %>

    <!-- Scripts Patrials -->
    <% include partials/Scripts.ejs %>
  </body>
  </html>
